//Colors

$clr-primary-100: hsl(200, 100%, 100%);
$clr-primary-200: hsl(200, 100%, 79%);
$clr-primary-400: hsl(200, 100%, 73%);
$clr-primary-600: hsl(211, 20%, 50%);
$clr-primary-700: hsl(211, 35%, 40%);

$clr-secondary-050: hsl(20, 100%, 99%);
$clr-secondary-100: hsl(20, 100%, 97%);
$clr-secondary-200: hsl(25, 100%, 94%);
$clr-secondary-400: hsl(29, 100%, 71%);
$clr-secondary-500: hsl(30, 90%, 60%);
$clr-secondary-600: hsl(0, 20%, 50%);

$clr-accent-100: hsl(212, 100%, 98%);

$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-150: hsl(0, 0%, 97%);
$clr-neutral-200: hsl(0, 0%, 80%);
$clr-neutral-300: hsl(0, 0%, 66%);
$clr-neutral-400: hsl(0, 0%, 45%);
$clr-neutral-500: hsl(0, 0%, 33%);
$clr-neutral-600: hsl(0, 0%, 16%);
$clr-neutral-700: hsl(0, 0%, 11%);
$clr-neutral-900: hsl(0, 0%, 0%);

$clr-accent-shadow-400: hsla(25, 100%, 85%, 0.5);
$clr-accent-shadow-500: hsla(25, 100%, 80%, 0.5);

$clr-primary-shadow-600: hsl(211, 20%, 50%, 0.33);

// Font Family
$ff-primary: Roboto, Arial, sans-serif;
$ff-secondary: Chewy, Arial, sans-serif;

// Font Weight
$fw-reg: 400;
$fw-bold: 700;

// Font Sizing
$fs-200: clamp(0.63rem, calc(0.82rem + -0.16vw), 0.79rem);
$fs-300: clamp(0.75rem, calc(0.9rem + 0.04vw), 0.95rem);
$fs-400: clamp(0.9rem, calc(0.98rem + 0.13vw), 1.13rem);
$fs-500: clamp(1.13rem, calc(1.05rem + 0.37vw), 1.5rem);
$fs-600: clamp(1.27rem, calc(1.12rem + 0.73vw), 2rem);
$fs-700: clamp(1.42rem, calc(1.18rem + 1.24vw), 2.66rem);
$fs-800: clamp(1.6rem, calc(1.21rem + 1.95vw), 3.55rem);
$fs-900: clamp(1.8rem, calc(1.22rem + 2.93vw), 4.74rem);

// Spacing
$spc-100: clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem);
$spc-200: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
$spc-300: clamp(0.75rem, calc(0.68rem + 0.38vw), 1.13rem);
$spc-400: clamp(1rem, calc(0.86rem + 0.69vw), 1.69rem);
$spc-500: clamp(1.5rem, calc(1.35rem + 0.75vw), 2.25rem);
$spc-600: clamp(2rem, calc(1.73rem + 1.38vw), 3.38rem);
$spc-700: clamp(3rem, calc(2.7rem + 1.5vw), 4.5rem);
$spc-800: clamp(4rem, calc(3.45rem + 2.75vw), 6.75rem);

$app-padding: clamp(0.5rem, calc(0.1rem + 1.75vw), 2.25rem);

// Misc
$border-radius: 8px;
$shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);

$media-query-primary: 75em;
$media-query-secondary: 51.25em;
$media-query-tertiary: 24.3em;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

//Mixins
@mixin column-flex {
  display: flex;
  flex-direction: column;
}

@mixin row-flex {
  display: flex;
  flex-direction: row;
}

@mixin lhCrop($line-height) {
  &::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }
}
