@import 'utils/variables';

footer {
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

#copyright-logo,
.fa-github {
  color: $clr-secondary-400;
}

#copyright {
  font-size: 1.24rem;
  font-weight: 700;
  text-decoration-line: none;

  color: $clr-primary-400;
}

.fa-github {
  font-size: 1.5rem;
  transition: transform 0.4s ease-in-out;
}
#copyright:hover {
  .fa-github {
    transform: rotate(360deg) scale(1.2);

    border: 24px 24px 24px 24px solid red;
  }
}
