@import 'utils/variables';

.builder {
  @include column-flex;
  min-width: 500px;
}

.input-label {
  @include column-flex;
  align-items: center;
  color: $clr-secondary-600;
}

.settings {
  container-type: inline-size;
  @container (max-width: 446px) {
    .toggles,
    .colors,
    .actions {
      width: 225px;
    }
  }

  .input-title {
    border-radius: $border-radius $border-radius calc($border-radius / 2)
      calc($border-radius / 2);
  }

  .settings-input-container {
    @include row-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: $spc-300;
    gap: $spc-300;
  }

  .settings-row {
    @include row-flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: $spc-300;
  }

  .settings-column {
    @include column-flex;
    justify-content: flex-end;
  }

  .colors {
    .link-button,
    #color-selector {
      width: 60px;
      height: 34px;
      border-radius: 34px;
    }

    .link-button {
      width: 45px;
      align-self: flex-end;

      .slider {
        @include row-flex;
        justify-content: center;
        align-items: center;

        background-color: $clr-secondary-400;
        color: $clr-secondary-200;
      }
    }

    .contrast-slider {
      margin-bottom: $spc-100;

      input {
        height: 12px;
        width: 95%;
        min-height: 0;
      }
    }
  }
}

.input-card {
  margin-bottom: $spc-200;
  border-radius: $border-radius;
  color: $clr-primary-600;
  background-color: $clr-secondary-200;
  font-weight: bold;
  box-shadow: $shadow;
  border: none;
  text-align: center;

  &.active {
    .input-title {
      scale: 1.015;
      border-radius: $border-radius $border-radius calc($border-radius / 2)
        calc($border-radius / 2);
      box-shadow: 4px 8px 2px $clr-accent-shadow-400;

      .fa-angle-down {
        transform: rotate(180deg);
      }
    }
  }

  .input-title {
    @include row-flex;
    align-items: center;

    text-align: start;
    color: $clr-primary-700;
    font-size: 1.48rem;
    font-weight: bold;
    padding: $spc-200 $spc-200;
    background-color: $clr-primary-200;
    border-radius: $border-radius;

    [data-icon] {
      text-align: center;
      width: 34px;
    }

    .fa-angle-down {
      margin-left: auto;
      margin-right: $spc-200;
      transition: transform 300ms;
    }

    &:focus {
      outline: 2px solid $clr-primary-700;
    }
  }

  .input-list {
    @include column-flex;
    align-items: center;
    gap: $spc-200;

    margin-top: $spc-400;

    li {
      width: 90%;
      max-width: 400px;
    }

    .list-item-row {
      @include row-flex;
      justify-content: flex-end;
      align-items: center;
      gap: $spc-100;
      color: $clr-secondary-600;

      .grip-dots {
        cursor: grab;
        margin-right: $spc-100;
        font-size: 1.5rem;
        color: $clr-secondary-400;

        filter: drop-shadow(4px 4px 2px $clr-accent-shadow-400);
        border-radius: $border-radius;

        &:focus {
          color: $clr-secondary-600;
          outline: none;
        }
      }

      .name-input {
        width: 100%;
      }

      input {
        font-weight: bold;
        letter-spacing: 0.5px;
      }

      &.icon-scale-row {
        align-items: center;
        margin-top: $spc-100;

        .fa-grip {
          opacity: 0;
          cursor: default;
        }

        .scale-label {
          min-width: 100px;
          padding: calc($spc-100 * 0.33);
          background-color: $clr-secondary-100;
          border-radius: $border-radius;
          box-shadow: 2px 2px 6px $clr-accent-shadow-400;
        }

        input[type='range'] {
          width: 100%;
          box-shadow: none;
          min-height: 0;
        }

        .scale-title-container {
          @include column-flex;
          gap: $spc-100;
        }
      }
    }
  }

  .columns-add-container {
    margin: $spc-300 $spc-100 $spc-200 $spc-100;
    @include row-flex;
    justify-content: center;
    align-items: flex-end;
    gap: $spc-200;

    .columns-button {
      align-self: flex-start;
    }

    .add-button {
      min-width: 4.5rem;
    }
  }

  .form-input-label {
    @include column-flex;
    font-weight: bold;
    font-size: $fs-500;

    input,
    textarea {
      margin-top: calc($spc-100 / 3);
    }
  }

  input,
  textarea {
    font-weight: 400;
    font-size: calc($fs-400 * 1.1);
    border-radius: $border-radius;
    color: $clr-secondary-600;
    background-color: $clr-secondary-100;
    min-height: 2.755rem;
    padding-inline: $spc-100;
    box-shadow: 2px 2px 6px $clr-accent-shadow-400;

    &:focus {
      outline: 2px solid $clr-secondary-500;
    }
  }

  .icon-scale-num-input {
    width: 3.5rem;
  }

  button,
  .skill-icon-input,
  #file {
    padding: calc($spc-100 * 0.8) $spc-100;
    min-height: 2.755rem;
    min-width: 3.5rem;
    border-radius: $border-radius;
    border: none;
    background-color: $clr-secondary-400;
    color: $clr-secondary-200;
    font-size: 1.24rem;
    letter-spacing: 0.24px;
    box-shadow: 2px 2px 6px $clr-accent-shadow-500;
    text-shadow: 2px 2px 4px $clr-secondary-500;

    svg {
      filter: drop-shadow(2px 2px 1px $clr-secondary-500);
    }

    &:focus {
      outline: 2px solid $clr-secondary-600;
    }
  }

  #file,
  .skill-icon-input,
  .switch {
    @include row-flex;
    justify-content: center;
    align-items: center;

    &:has(input:focus) {
      outline: 2px solid $clr-secondary-600;
    }
  }

  .visually-hidden {
    border-width: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }

  .form {
    @include column-flex;
    margin: $spc-200;
    gap: $spc-200;

    textarea {
      min-height: 7rem;
      resize: vertical;
    }

    .form-row {
      @include row-flex;
      gap: $spc-200;

      > * {
        min-width: 0;
        width: 100%;
      }
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range'] {
    -webkit-appearance: none;
    height: 14px;
    overflow: hidden;
    background-color: $clr-secondary-100;

    filter: drop-shadow(4px 4px 2px $clr-accent-shadow-400);
  }

  input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 10px;
    color: $clr-secondary-600;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;

    background: $clr-secondary-600;
    box-shadow: -150px 0 0 160px $clr-secondary-600;
  }
}
