@import 'utils/variables';

.builder {
  @include column-flex;
}

.input-card {
  margin-bottom: $spc-200;
  border-radius: $border-radius;
  background-color: $clr-secondary-200;
  color: $clr-primary-600;
  font-weight: bold;

  box-shadow: $shadow;
  border: none;

  .input-title {
    @include row-flex;
    align-items: center;

    text-align: start;
    color: $clr-primary-700;
    font-size: 1.48rem;
    font-weight: bold;
    padding: $spc-200 $spc-200;
    background-color: $clr-primary-200;
    border-radius: $border-radius;

    i {
      text-align: center;
      width: 32px;
    }

    .fa-angle-down {
      margin-left: auto;
      margin-right: $spc-200;
      transition: transform 300ms;
    }

    &.active {
      scale: 1.015;
      border-radius: $border-radius $border-radius calc($border-radius / 2)
        calc($border-radius / 2);
      box-shadow: 4px 8px 2px $clr-accent-shadow-400;

      .fa-angle-down {
        transform: rotate(180deg);
      }
    }
  }

  .input-list {
    margin-top: $spc-400;
    li {
      @include row-flex;
      align-items: center;
      margin: $spc-200;
      gap: $spc-100;

      h3 {
        margin-right: auto;
      }
    }
  }

  .add-button {
    margin: $spc-300 $spc-100 $spc-100 $spc-100;
    min-width: 4.5rem;
  }

  button {
    padding: calc($spc-100 * 0.8) $spc-100;
    min-height: 2rem;
    min-width: 3.5rem;
    border-radius: $border-radius;
    border: none;
    background-color: $clr-secondary-400;
    color: $clr-secondary-200;
    font-size: 1.24rem;
    letter-spacing: 0.24px;
  }

  input,
  textarea,
  #file {
    font-weight: 400;
    border-radius: $border-radius;
    background-color: $clr-secondary-100;
    color: $clr-neutral-500;
    min-height: 2.48rem;

    box-shadow: 2px 2px 6px $clr-accent-shadow-400;
  }

  .form {
    @include column-flex;
    margin: $spc-200;
    gap: $spc-200;

    label {
      @include column-flex;
      font-weight: bold;
      font-size: 1.24rem;

      input,
      textarea {
        padding-left: $spc-100;
      }

      textarea {
        min-height: 6rem;
        resize: vertical;
      }
    }

    #file {
      @include row-flex;
      background-color: $clr-secondary-400;
      color: $clr-secondary-200;
      padding: calc($spc-100 * 0.8) $spc-100;

      input[type='file'] {
        display: none;
      }

      justify-content: center;
      align-items: center;
    }

    .form-row {
      @include row-flex;
      gap: $spc-200;

      > * {
        width: 100%;
      }
    }
  }
}

.settings {
  min-width: 500px;

  .input-title {
    border-radius: $border-radius $border-radius calc($border-radius / 2)
      calc($border-radius / 2);
  }

  .settings-input-container {
    @include row-flex;
    justify-content: center;
    gap: $spc-300;
    margin: $spc-300;
  }
}
