@use 'sass:color';
@import 'utils/variables';

$preview-scale-primary: clamp(500px, 50vw, 800px);
$preview-scale-secondary: clamp(0px, 90vw, 600px);

$text-scale-primary: calc($preview-scale-primary * 0.0225);
$text-scale-secondary: calc($preview-scale-secondary * 0.0225);

$preview-corner-radius-primary: calc($preview-scale-primary * 0.0125);
$preview-corner-radius-secondary: calc($preview-scale-secondary * 0.0125);

$preview-shadow-scale-primary: calc($preview-scale-primary * 0.0065);
$preview-shadow-scale-secondary: calc($preview-scale-secondary * 0.0065);

#size-warning {
  margin-bottom: $spc-300;
  padding: $spc-100;
  text-align: center;
  font-weight: bold;
  color: $clr-primary-700;
  background-color: $clr-primary-200;
  border-radius: $border-radius;
  box-shadow: 4px 6px 2px $clr-accent-shadow-400;
  border: 2px solid $clr-primary-400;
  width: $preview-scale-primary;
}

.preview {
  @include column-flex;
  align-items: center;

  .preview-shadow {
    box-shadow: $shadow;
    border-radius: $preview-corner-radius-primary;
    overflow: hidden;
  }
  margin-bottom: 1rem;
}

#resume-preview {
  word-break: break-word;
  overflow-wrap: break-word;

  .text-area {
    white-space: pre-wrap;
  }

  .experience,
  .education {
    .title-subtitle-container {
      width: 100%;
    }
    .subtitle {
      @include row-flex;
      align-items: center;

      .fa-link {
        font-size: 0.66em;
      }
    }

    .date {
      text-align: end;
      white-space: nowrap;
    }

    .entry-container {
      &.single-column {
        @include column-flex;

        .addition {
          margin-right: 10%;
        }
      }

      display: grid;
      grid-template-areas: 'entry entry';
      grid-template-columns: 48% 48%;
      grid-template-rows: min-content;

      justify-content: space-between;
    }

    .entry-info {
      width: 100%;

      .preview-row {
        justify-content: space-between;
        align-items: flex-start;

        gap: 2.5%;
      }

      .bulletpoints-list {
        margin-left: 6.5%;
        .bulletpoint-entry {
          &::before {
            content: '\25CF';
            font-weight: bold;
            display: inline-block; /* Needed to add space between the bullet and the text */
            width: 1em; /* Also needed for space (tweak if needed) */
            margin-left: -1em; /* Also needed for space (tweak if needed) */
          }
        }
      }
    }
  }
}

.no-theme {
  &#resume-preview {
    color: $clr-neutral-500;
    background-color: $clr-secondary-050;
    width: $preview-scale-primary;
    aspect-ratio: 8.5/11;
    font-size: $text-scale-primary;
    font-family: 'Times New Roman', Times, serif;

    @include column-flex;
    padding: 5% 6.66% 1.5%;

    > * {
      font-size: 0.9em;
    }
  }

  img,
  hr {
    display: none;
  }

  h2 {
    font-weight: bold;
    padding-bottom: 0.5%;
    ~ * {
      padding-left: 4%;
    }

    span {
      svg {
        min-width: 1em;
      }

      &::after {
        content: ' ';
      }
    }
  }

  a {
    color: $clr-neutral-500;

    span::after {
      content: '  ';
    }

    .fa-link {
      font-size: 0.75em;
    }
  }

  .resume-section {
    margin-bottom: 1.5%;
  }

  .person {
    text-align: center;
    .title {
      font-size: 1.5em;
    }

    .subtitle {
      font-size: 1.25em;
    }
  }

  .about {
    @include column-flex;
    flex-direction: column-reverse;
  }

  .contact-info {
    @include row-flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .preview-row {
      @include row-flex;
      align-items: center;
    }
  }

  .experience,
  .education {
    .entry {
      &:not(:last-of-type) {
        margin-bottom: 1%;
      }
    }
  }

  ul {
    @include row-flex;
    flex-wrap: wrap;

    li {
      @include row-flex;
    }

    li:not(:last-of-type)::after {
      content: ',\00a0';
    }
  }

  .preview-row {
    @include row-flex;
  }

  .watermark {
    margin-top: auto;
    text-align: center;
  }
}

.theme {
  &#resume-preview {
    // overflow: hidden;
    color: $clr-neutral-500;
    background-color: var(--clr-bg);
    width: $preview-scale-primary;
    aspect-ratio: 8.5/11;
    font-size: $text-scale-primary;
    font-family: $ff-primary;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 20% repeat(2, min-content);

    align-items: flex-start;

    .grid-block {
      &.person {
        grid-row: 1 / 2;
      }
      &.aside {
        grid-column: 1 / 2;
        grid-row: 1 / span 4;
      }
      &.experience {
        grid-row: 2 / 3;
      }
      &.education {
        grid-row: 3 / 4;
      }
      &.skills {
        grid-row: 4 / 5;
      }
    }
  }

  //Icon Shadow
  .svg-inline--fa {
    filter: drop-shadow(
      calc($preview-shadow-scale-primary * 0.25)
        calc($preview-shadow-scale-primary * 0.25)
        calc($preview-shadow-scale-primary * 0.5) rgba(0, 0, 0, 0.2)
    );
  }

  .person {
    z-index: 1;
    height: 50%;
    width: 150%;
    transform: translate(-33.33%, 50%);
    background-color: var(--clr);

    .data {
      @include row-flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      background-color: var(--clr);

      .name-title {
        text-align: center;
      }

      img {
        height: 150%;
        border-radius: 999px;
        position: absolute;
        top: -25%;
        left: calc(33% / 2);
        transform: translateX(-50%);
        z-index: 1;

        border: calc($preview-scale-primary * 0.0066) solid var(--clr);
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 3.33%;
        width: 100%;
        left: 50%;
        transform: translatex(-50%);
        background-color: var(--clr);
      }

      &::before {
        top: -8%;
      }

      &::after {
        bottom: -8%;
      }
    }
  }

  .aside {
    position: relative;
    height: 100%;

    .sections-container {
      padding-top: 75%;
      height: 100%;
      color: var(--clr);
      background-color: var(--clr-bg);
      border-radius: $preview-corner-radius-primary;
      box-shadow: calc($preview-shadow-scale-primary * 0.25) 0
        calc($preview-shadow-scale-primary) rgba(0, 0, 0, 0.2);

      .resume-section {
        margin: 0 7.5% 7.5% 7.5%;

        .aside-section-title {
          margin-bottom: 2.5%;
          .svg-inline--fa {
            min-width: 1em;
            margin-right: 3.33%;
          }
        }

        > :not(:first-child) {
          margin-left: 2.5%;
          filter: opacity(90%);
        }
      }

      .contact {
        .preview-row {
          align-items: flex-start;
        }

        .contact-icon {
          min-width: 6.66%;
          margin-inline: 2%;
          font-size: 1.24em;
        }

        .link {
          @include row-flex;
          align-items: flex-start;
          justify-content: space-between;
          width: 100%;
          margin-right: 3.33%;
          font-weight: 400;
          font-size: 0.95em;

          .contact-info {
            position: relative;
            width: 100%;
            margin-right: 5%;

            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1%;
              background-color: var(--clr);
              opacity: 50%;
            }
          }

          .fa-link {
            font-size: 0.8em;
          }
        }

        :not(:last-of-type) {
          margin-bottom: 4.5%;
        }
      }

      .soft-skills,
      .interests {
        .list-container {
          @include row-flex;
          flex-wrap: wrap;

          .list-entry {
            height: calc($preview-scale-primary * 0.05);
            padding: calc($preview-scale-primary * 0.005);
            border-radius: calc($preview-corner-radius-primary * 0.75);
            min-width: 25%;
            margin: 1%;
          }

          &.duo-tone > :nth-child(even) {
            background-color: var(--clr-bg-alt);
            .list-icon {
              color: var(--clr-shadow-alt);
            }
          }
        }
      }

      .watermark {
        position: absolute;
        bottom: 1%;
        width: 100%;
        text-align: center;
      }

      &::before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        height: 100%;
        width: 3.33%;
        background-color: var(--clr-before);
      }
    }
  }

  .main.resume-section {
    padding-inline: 4%;

    .entry-title {
      padding-bottom: 1.5%;

      span::after {
        content: ' - ';
      }
    }

    .entry-container {
      padding-left: 1.5%;
    }

    .entry {
      padding-bottom: 1.5%;
      .bulletpoint-entry::before {
        color: var(--clr);
      }
    }

    &.skills {
      max-width: 100%;

      .list-container {
        @include row-flex;
        flex-wrap: wrap;
        gap: 2%;

        .list-entry {
          height: calc($preview-scale-primary * 0.066);
          padding: calc($preview-scale-primary * 0.015);

          border-radius: $preview-corner-radius-primary;
          min-width: 12.5%;
          margin-bottom: 2%;
        }
      }
    }
  }

  .list-container {
    .list-entry {
      @include row-flex;
      gap: calc($preview-scale-primary * 0.01);
      justify-content: center;
      align-items: center;
      white-space: pre-wrap;
      overflow: hidden;

      color: var(--clr);
      background-color: var(--clr-bg);

      .list-icon {
        color: var(--clr-shadow);
        filter: drop-shadow(
          $preview-shadow-scale-primary $preview-shadow-scale-primary
            calc($preview-shadow-scale-primary * 2)
        );
      }

      &.duo-tone > :nth-child(even) {
        background-color: var(--clr-bg-alt);
        .list-icon {
          color: var(--clr-shadow-alt);
        }
      }
    }
  }
}

//QUERIES

@media (max-width: $media-query-primary) {
  #size-warning {
    width: $preview-scale-secondary;
  }

  .preview {
    .preview-shadow {
      border-radius: $preview-corner-radius-secondary;
    }
  }

  .theme,
  .no-theme {
    align-self: center;
    &#resume-preview {
      width: $preview-scale-secondary;
      font-size: $text-scale-secondary;
    }
  }

  .theme {
    .svg-inline--fa {
      filter: drop-shadow(
        calc($preview-shadow-scale-secondary * 0.25)
          calc($preview-shadow-scale-secondary * 0.25)
          calc($preview-shadow-scale-secondary * 0.5) rgba(0, 0, 0, 0.2)
      ) !important;
    }

    .person {
      img {
        border-width: calc($preview-scale-secondary * 0.0066) !important;
      }
    }

    .aside {
      .sections-container {
        border-radius: $preview-corner-radius-secondary !important;
        box-shadow: calc($preview-shadow-scale-secondary * 0.25) 0
          calc($preview-shadow-scale-secondary) rgba(0, 0, 0, 0.2) !important;
      }

      .list-entry {
        height: calc($preview-scale-secondary * 0.05) !important;
        padding: calc($preview-scale-secondary * 0.005) !important;
        border-radius: calc($preview-corner-radius-secondary * 0.75) !important;
      }
    }

    .skills {
      .list-entry {
        height: calc($preview-scale-secondary * 0.066) !important;
        border-radius: $preview-corner-radius-secondary !important;
        padding: calc($preview-scale-secondary * 0.015) !important;
      }
    }

    .list-container {
      .list-entry {
        gap: calc($preview-scale-secondary * 0.01) !important;

        .list-icon {
          filter: drop-shadow(
            $preview-shadow-scale-secondary $preview-shadow-scale-secondary
              calc($preview-shadow-scale-secondary * 2)
          ) !important;
        }
      }
    }
  }
}

@media print {
  $preview-scale-print: 100vw;
  $text-scale-print: calc($preview-scale-print * 0.0225);
  $preview-corner-radius-print: calc($preview-scale-print * 0.0125);
  $preview-shadow-scale-print: calc($preview-scale-print * 0.0065);

  .fa-link {
    display: none;
  }

  .theme,
  .no-theme {
    align-self: center;
    margin: 0;
    padding: 0;
    &#resume-preview {
      width: $preview-scale-print;
      font-size: $text-scale-print;
    }
  }

  .theme {
    .svg-inline--fa {
      filter: drop-shadow(
        calc($preview-shadow-scale-print * 0.25)
          calc($preview-shadow-scale-print * 0.25)
          calc($preview-shadow-scale-print * 0.5) rgba(0, 0, 0, 0.2)
      ) !important;
    }

    .person {
      img {
        border-width: calc($preview-scale-print * 0.0066) !important;
      }
    }

    .aside {
      .sections-container {
        border-radius: $preview-corner-radius-print !important;
        box-shadow: calc($preview-shadow-scale-print * 0.25) 0
          calc($preview-shadow-scale-print) rgba(0, 0, 0, 0.2) !important;
      }

      .list-entry {
        height: calc($preview-scale-print * 0.05) !important;
        padding: calc($preview-scale-print * 0.005) !important;
        border-radius: calc($preview-corner-radius-print * 0.75) !important;
      }
    }

    .skills {
      .list-entry {
        height: calc($preview-scale-print * 0.066) !important;
        border-radius: $preview-corner-radius-print !important;
        padding: calc($preview-scale-print * 0.015) !important;
      }
    }

    .list-container {
      .list-entry {
        gap: calc($preview-scale-print * 0.01) !important;

        .list-icon {
          filter: drop-shadow(
            $preview-shadow-scale-print $preview-shadow-scale-print
              calc($preview-shadow-scale-print * 2)
          ) !important;
        }
      }
    }
  }
}

@page {
  size: letter portrait;
  margin: none;
}

//Utilities
.theme {
  .preview-title-1 {
    font-size: 1.48em;
  }

  .preview-title-2 {
    font-size: 1.24em;
  }

  .preview-title-3 {
    font-size: 1.12em;
  }

  .preview-body-1 {
    font-size: 1em;
  }

  .preview-body-2 {
    font-size: 0.9em;
  }

  .preview-body-3 {
    font-size: 0.8em;
  }

  .preview-body-4 {
    font-size: 0.7em;
    font-weight: 500;
    letter-spacing: 0.015em;
  }

  .bold {
    font-weight: bold;
  }

  .italic {
    font-style: italic;
  }

  .preview-primary-clr-400 {
    color: $clr-primary-700;
    color: var(--clr);
  }

  .preview-secondary-clr-200 {
    color: $clr-secondary-200;
    color: var(--clr);
  }

  .preview-secondary-clr-300 {
    color: $clr-secondary-400;
    color: var(--clr);
  }

  .preview-secondary-clr-400 {
    color: $clr-secondary-500;
    color: var(--clr);
  }

  .preview-tertiary-clr-400 {
    color: $clr-secondary-100;
    color: var(--clr);
  }

  .preview-row {
    @include row-flex;
  }

  .preview-column {
    @include column-flex;
  }

  .title {
    line-height: 100%;
  }

  .subtitle {
    letter-spacing: 0.033em;
    &.preview-title-3 {
      letter-spacing: 0.1em;
    }
  }
}
