@import 'utils/variables';

$preview-scale-primary: clamp(600px, 50vw, 800px);
$preview-scale-secondary: clamp(300px, 90vw, 800px);
$preview-scale-tertiary: clamp(0px, 90vw, 600px);

$text-scale-primary: calc($preview-scale-primary * 0.0225);
$text-scale-secondary: calc($preview-scale-secondary * 0.0225);
$text-scale-tertiary: calc($preview-scale-tertiary * 0.0225);

$preview-corner-radius-primary: calc($preview-scale-primary * 0.0125);
$preview-corner-radius-secondary: calc($preview-scale-secondary * 0.0125);
$preview-corner-radius-tertiary: calc($preview-scale-tertiary * 0.0125);

#size-warning {
  margin-bottom: $spc-300;
  padding: $spc-100;
  text-align: center;
  font-weight: bold;
  color: $clr-primary-700;
  background-color: $clr-primary-200;
  border-radius: $border-radius;
  box-shadow: 4px 6px 2px $clr-accent-shadow-400;
  border: 2px solid $clr-primary-400;
  width: $preview-scale-primary;
}

.preview {
  @include column-flex;
  align-items: center;

  .preview-shadow {
    box-shadow: $shadow;
    border-radius: $preview-corner-radius-primary;
    overflow: hidden;
  }
  margin-bottom: 1rem;
}

#resume-preview {
  word-break: break-word;
  overflow-wrap: break-word;

  .text-area {
    white-space: pre-wrap;
  }

  .experience,
  .education {
    .title-subtitle-container {
      width: 100%;
    }
    .subtitle {
      @include row-flex;
      align-items: center;

      .fa-link {
        font-size: 0.66em;
      }
    }

    .date {
      text-align: end;
      white-space: nowrap;
    }

    .entry-container {
      &.single-column {
        @include column-flex;

        p {
          margin-right: 10%;
        }

        .entry {
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      display: grid;
      grid-template-areas: 'entry entry';
      grid-template-columns: 48% 48%;
      grid-template-rows: min-content;

      justify-content: space-between;
    }

    .entry-info {
      width: 100%;

      .preview-row {
        justify-content: space-between;
        align-items: flex-start;

        gap: 2.5%;
      }

      .bulletpoints-list {
        margin-left: 6.5%;
        .bulletpoint-entry {
          &::before {
            content: '\25CF';
            font-weight: bold;
            display: inline-block; /* Needed to add space between the bullet and the text */
            width: 1em; /* Also needed for space (tweak if needed) */
            margin-left: -1em; /* Also needed for space (tweak if needed) */
          }
        }
      }
    }
  }
}

.no-theme {
  &#resume-preview {
    color: $clr-neutral-500;
    background-color: $clr-secondary-050;
    width: $preview-scale-primary;
    aspect-ratio: 8.5/11;
    font-size: $text-scale-primary;
    font-family: 'Times New Roman', Times, serif;

    @include column-flex;
    padding: 5% 6.66% 1.5%;

    > * {
      font-size: 0.9em;
    }
  }

  img,
  hr {
    display: none;
  }

  h2 {
    font-weight: bold;
    padding-bottom: 0.5%;
    ~ * {
      padding-left: 4%;
    }

    span {
      svg {
        min-width: 1em;
      }

      &::after {
        content: ' ';
      }
    }
  }

  a {
    color: $clr-neutral-500;

    span::after {
      content: '  ';
    }

    .fa-link {
      font-size: 0.75em;
    }
  }

  .resume-section {
    margin-bottom: 1.5%;
  }

  .person {
    text-align: center;
    .title {
      font-size: 1.5em;
    }

    .subtitle {
      font-size: 1.25em;
    }
  }

  .about {
    @include column-flex;
    flex-direction: column-reverse;
  }

  .contact-info {
    @include row-flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .preview-row {
      @include row-flex;
      align-items: center;
    }
  }

  .experience,
  .education {
    .entry {
      &:not(:last-of-type) {
        margin-bottom: 1%;
      }
    }
  }

  ul {
    @include row-flex;
    flex-wrap: wrap;

    li {
      @include row-flex;
    }

    li:not(:last-of-type)::after {
      content: ',\00a0';
    }
  }

  .preview-row {
    @include row-flex;
  }

  .watermark {
    margin-top: auto;
    text-align: center;
  }
}

.theme {
  &#resume-preview {
    // overflow: hidden;
    color: $clr-neutral-500;
    background-color: var(--clr-bg);
    width: $preview-scale-primary;
    aspect-ratio: 8.5/11;
    font-size: $text-scale-primary;
    font-family: $ff-primary;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 20% repeat(2, min-content);

    align-items: flex-start;
  }

  .person {
    z-index: 1;
    grid-row: 1 / 2;
    height: 50%;
    width: 150%;
    transform: translate(-33.33%, 50%);
    background-color: var(--clr);

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 3.33%;
      width: 100%;
      left: 50%;
      transform: translatex(-50%);
      background-color: var(--clr);
    }

    &::before {
      top: -8%;
    }

    &::after {
      bottom: -8%;
    }

    .data {
      @include row-flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .name-title {
        text-align: center;
      }

      img {
        height: 150%;
        border-radius: 999px;
        position: absolute;
        top: -25%;
        left: calc(33% / 2);
        transform: translateX(-50%);
        z-index: 1;

        border: calc($preview-scale-primary * 0.0066) solid var(--clr);
      }
    }
  }

  .about {
    position: relative;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / span 4;
    background-color: var(--clr-bg);
    border-radius: $preview-corner-radius-primary;
    padding-top: 75%;
    box-shadow: 3px 0px 3px $clr-primary-shadow-600;

    a {
      color: var(--clr);
    }

    svg {
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    }

    .resume-section {
      padding-left: 7.5%;
      padding-right: 7.5%;
    }

    .blurb,
    .contact,
    .list-container {
      margin-bottom: 10%;

      .general-section-title {
        margin-bottom: 2.5%;
        .preview-general-icon {
          margin-right: 3.33%;

          min-width: 12.5%;
        }
      }

      svg {
        min-width: 1em;
      }

      > :not(:first-child) {
        margin-left: 2.5%;

        filter: opacity(90%);
      }
    }

    .contact {
      .preview-row {
        align-items: center;
      }

      .preview-info-icon {
        min-width: 6.66%;
        margin-left: 2%;
        margin-right: 2%;
        font-size: 1.24em;
      }

      a {
        @include row-flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-right: 3.33%;
        font-weight: 400;
        font-size: 0.95em;

        .fa-link {
          font-size: 0.8em;
        }
      }

      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $clr-neutral-100;
        margin-block: 3%;
        padding: 0;
      }
    }

    .list-container {
      ul {
        @include row-flex;
        flex-wrap: wrap;

        li {
          @include row-flex;
          justify-content: center;
          align-items: center;

          height: calc($preview-scale-primary * 0.05);
          padding: calc($preview-scale-primary * 0.005);
          border-radius: calc($preview-corner-radius-primary * 0.75);
          margin: 1%;
          min-width: 25%;
          background-color: var(--clr-bg);
          color: var(--clr);
          text-shadow: 2px 2px 4px var(--clr-shadow);

          .skill-icon {
            height: 100%;
          }
        }

        &.duo-tone :nth-child(even) {
          background-color: var(--clr-bg-alt);
          text-shadow: none;
        }
      }
    }

    .watermark {
      position: absolute;
      bottom: 1%;
      width: 100%;
      text-align: center;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      height: 100%;
      width: 3.33%;
      background-color: var(--clr-before);
    }
  }

  .experience {
    grid-row: 2 / 3;
  }

  .education {
    grid-row: 3 / 4;
  }

  .skills {
    grid-row: 4 / 5;
  }

  .experience,
  .education {
    .entry {
      margin-bottom: 1.5%;
    }
  }

  .experience,
  .education,
  .skills {
    padding-inline: 4%;
    padding-bottom: 1.5%;

    h2 {
      padding-bottom: 1.5%;
      svg {
        filter: drop-shadow(2px 2px 1px $clr-primary-shadow-600);
      }

      span::after {
        content: ' - ';
      }
    }

    .entry-container {
      padding-left: 1.5%;
    }

    .bulletpoint-entry::before {
      color: var(--clr);
    }
  }

  .skills {
    max-width: 100%;

    .entry-container {
      @include row-flex;
      flex-wrap: wrap;
      gap: 2%;

      .entry {
        @include row-flex;
        justify-content: center;
        align-items: center;
        padding: calc($preview-scale-primary * 0.015);
        height: calc($preview-scale-primary * 0.066);
        border-radius: $preview-corner-radius-primary;
        margin-bottom: 2%;
        min-width: 12.5%;
        background-color: var(--clr-bg);
        color: var(--clr);
        text-shadow: 2px 2px 4px var(--clr-shadow);
        white-space: pre-wrap;
        overflow: hidden;

        .skill-icon {
          height: 100%;
          filter: drop-shadow(2px 2px 4px var(--clr-shadow));
        }
      }

      &.duo-tone > :nth-child(even) {
        background-color: var(--clr-bg-alt);
        text-shadow: none;
        .skill-icon {
          filter: none;
        }
      }
    }
  }
}

//QUERIES

.preview {
  @media (max-width: $media-query-primary) {
    #size-warning {
      width: $preview-scale-secondary;
    }

    .preview {
      .preview-shadow {
        border-radius: $preview-corner-radius-secondary;
      }
    }

    .theme,
    .no-theme {
      align-self: center;
      &#resume-preview {
        width: $preview-scale-secondary;
        font-size: $text-scale-secondary;
      }
    }

    .theme {
      .person {
        .data {
          img {
            border-width: calc($preview-scale-secondary * 0.0066);
          }
        }
      }

      .about {
        .list-container {
          ul {
            li {
              height: calc($preview-scale-secondary * 0.05);
              border-radius: calc($preview-corner-radius-secondary * 0.75);
              padding: calc($preview-scale-secondary * 0.005);
            }
          }
        }
      }

      .skills {
        .entry-container {
          .entry {
            height: calc($preview-scale-secondary * 0.066);
            border-radius: $preview-corner-radius-secondary;
            padding: calc($preview-scale-secondary * 0.015);
          }
        }
      }
    }
  }

  @media (max-width: $media-query-secondary) {
    #size-warning {
      width: $preview-scale-tertiary;
    }

    .preview {
      .preview-shadow {
        border-radius: $preview-corner-radius-tertiary;
      }
    }

    .theme,
    .no-theme {
      align-self: center;
      &#resume-preview {
        width: $preview-scale-tertiary;
        font-size: $text-scale-tertiary;
      }
    }

    .theme {
      .person {
        .data {
          img {
            border-width: calc($preview-scale-tertiary * 0.0066);
          }
        }
      }

      .about {
        border-radius: $preview-corner-radius-tertiary;
        .list-container {
          ul {
            li {
              height: calc($preview-scale-tertiary * 0.05);
              border-radius: calc($preview-corner-radius-tertiary * 0.75);
              padding: calc($preview-scale-tertiary * 0.005);
            }
          }
        }
      }

      .skills {
        .entry-container {
          .entry {
            height: calc($preview-scale-tertiary * 0.066);
            border-radius: $preview-corner-radius-tertiary;
            padding: calc($preview-scale-tertiary * 0.015);
          }
        }
      }
    }
  }

  @media print {
    $preview-scale-print: 100vw;
    $text-scale-print: calc($preview-scale-print * 0.0225);
    $preview-corner-radius-print: calc($preview-scale-print * 0.0125);

    .fa-link {
      display: none;
    }

    .theme,
    .no-theme {
      align-self: center;
      &#resume-preview {
        width: $preview-scale-print;
        font-size: $text-scale-print;
      }
    }

    .theme {
      &#resume-preview {
        width: $preview-scale-print;
        font-size: $text-scale-print;
      }

      .person {
        .data {
          img {
            border-width: calc($preview-scale-print * 0.0066);
          }
        }
      }

      .about {
        border-radius: $preview-corner-radius-print;
        .list-container {
          ul {
            li {
              height: calc($preview-scale-print * 0.05);
              border-radius: calc($preview-corner-radius-print * 0.75);
              padding: calc($preview-scale-print * 0.005);
            }
          }
        }
      }

      .skills {
        .entry-container {
          .entry {
            height: calc($preview-scale-print * 0.066);
            border-radius: $preview-corner-radius-print;
            padding: calc($preview-scale-print * 0.015);
          }
        }
      }
    }
  }
}

//Utilities
.theme {
  .preview-title-1 {
    font-size: 1.48em;
  }

  .preview-title-2 {
    font-size: 1.24em;
  }

  .preview-title-3 {
    font-size: 1.12em;
  }

  .preview-body-1 {
    font-size: 1em;
  }

  .preview-body-2 {
    font-size: 0.9em;
  }

  .preview-body-3 {
    font-size: 0.8em;
  }

  .preview-body-4 {
    font-size: 0.7em;
    font-weight: 500;
    letter-spacing: 0.015em;
  }

  .bold {
    font-weight: bold;
  }

  .italic {
    font-style: italic;
  }

  .preview-primary-clr-400 {
    color: $clr-primary-700;
    color: var(--clr);
  }

  .preview-secondary-clr-200 {
    color: $clr-secondary-200;
    color: var(--clr);
  }

  .preview-secondary-clr-300 {
    color: $clr-secondary-400;
    color: var(--clr);
  }

  .preview-secondary-clr-400 {
    color: $clr-secondary-500;
    color: var(--clr);
  }

  .preview-tertiary-clr-400 {
    color: $clr-secondary-100;
    color: var(--clr);
  }

  .preview-row {
    @include row-flex;
  }

  .preview-column {
    @include column-flex;
  }

  .title {
    line-height: 100%;
  }

  .subtitle {
    letter-spacing: 0.033em;
    &.preview-title-3 {
      letter-spacing: 0.1em;
    }
  }
}
