@import 'utils/variables';

$preview-scale-primary: clamp(600px, 50vw, 800px);
$preview-scale-secondary: clamp(300px, 90vw, 800px);
$preview-scale-tertiary: clamp(0px, 90vw, 600px);

$text-scale-primary: calc($preview-scale-primary * 0.0225);
$text-scale-secondary: calc($preview-scale-secondary * 0.0225);
$text-scale-tertiary: calc($preview-scale-tertiary * 0.0225);

.preview-title-1 {
  font-size: 1.48em;
}

.preview-title-2 {
  font-size: 1.24em;
}

.preview-title-3 {
  font-size: 1.12em;
}

.preview-body-1 {
  font-size: 1em;
}

.preview-body-2 {
  font-size: 0.74em;
}

.bold {
  font-weight: bold;
}

.primary-text-clr {
  color: $clr-primary-700;
}

.secondary-text-clr {
  color: $clr-secondary-050;
}

.preview-row {
  @include row-flex;
}

.preview {
  @include column-flex;
  align-items: center;
  position: relative;

  #resume-preview {
    position: relative;
    box-shadow: $shadow;
    background-color: $clr-secondary-050;
    width: $preview-scale-primary;

    aspect-ratio: 8.5/11;
    border-radius: calc($border-radius * 1.5);
    font-size: $text-scale-primary;

    display: grid;
    grid-template-areas:
      'general person'
      'general experience'
      'general education'
      'general skills';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 20% repeat(2, min-content);
  }

  .person {
    grid-area: person;
    height: 50%;
    width: 150%;
    transform: translate(-33%, 50%);

    &::before,
    &::after {
      content: '';

      position: absolute;
      height: 3.33%;
      width: 100%;
      left: 50%;
      transform: translatex(-50%);

      background-color: $clr-primary-200;
    }

    &::before {
      top: -8%;
    }

    &::after {
      bottom: -8%;
    }

    .data {
      @include row-flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .name-title {
        text-align: center;

        .preview-title-3 {
          margin-top: -3.33%;
        }
      }

      img {
        height: 150%;
        border-radius: 999px;
        position: absolute;
        top: -25%;
        left: calc(33% / 2);
        transform: translateX(-50%);
        z-index: 1;

        border: calc($preview-scale-primary / 150) solid $clr-secondary-400;
      }
    }
  }

  .about {
    grid-area: general;
    background-color: $clr-primary-600;
    border-radius: inherit;
    padding-top: 75%;

    .blurb {
      margin-left: 7.5%;
      margin-right: 7.5%;
    }

    .contact {
      margin-top: 7.5%;
      margin-left: 7.5%;
      margin-right: 7.5%;

      .preview-info-icon {
        margin: 0 3.33%;
      }

      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $clr-neutral-100;
        margin: 1em 0;
        padding: 0;
      }
    }

    &::before {
      content: '';

      position: absolute;
      top: 0;
      height: 100%;
      width: 1.25%;
      background-color: $clr-secondary-400;
      border-radius: calc($border-radius * 1.5) 0 0 calc($border-radius * 1.5);
    }
  }

  .experience,
  .education {
    display: grid;
    grid-template-areas:
      'title title'
      'entry entry';
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content;
    gap: 2%;
    h2 {
      grid-area: title;
    }
  }

  .experience,
  .education,
  .skills {
    padding-left: 4%;
    padding-bottom: 4%;
    .entry {
      padding-left: 4%;
      padding-bottom: 4%;
    }
    .entry-container {
      padding-left: 2%;
      padding-bottom: 2%;
    }
  }

  .skills {
    max-width: 100%;

    .entry-container {
      @include row-flex;
      flex-wrap: wrap;

      .entry {
        @include row-flex;
        justify-content: center;
        align-items: center;

        margin: 1%;

        height: calc($preview-scale-primary * 0.066);

        padding: 2%;
        min-width: 50px;
        border-radius: $border-radius;
        background-color: $clr-secondary-400;
        color: $clr-secondary-100;

        text-shadow: 2px 2px 4px $clr-secondary-500;

        .skill-icon {
          height: 100%;
          padding-left: calc($preview-scale-primary * 0.0125);
        }
      }
    }
  }
}

@media (max-width: $media-query-primary) {
  .preview {
    #resume-preview {
      width: $preview-scale-secondary;
      font-size: $text-scale-secondary;
    }

    .skills {
      .entry-container {
        .entry {
          height: calc($preview-scale-secondary * 0.066);

          .skill-icon {
            padding-left: calc($preview-scale-secondary * 0.0125);
          }
        }
      }
    }
  }
}

@media (max-width: $media-query-secondary) {
  .preview {
    #resume-preview {
      width: $preview-scale-tertiary;
      font-size: $text-scale-tertiary;
    }

    .skills {
      .entry-container {
        .entry {
          height: calc($preview-scale-tertiary * 0.066);

          .skill-icon {
            padding-left: calc($preview-scale-tertiary * 0.0125);
          }
        }
      }
    }
  }
}
