@import 'utils/variables';

$preview-scale-primary: clamp(600px, 50vw, 800px);
$preview-scale-secondary: clamp(300px, 90vw, 800px);
$preview-scale-tertiary: clamp(0px, 90vw, 600px);

$text-scale-primary: calc($preview-scale-primary * 0.0225);
$text-scale-secondary: calc($preview-scale-secondary * 0.0225);
$text-scale-tertiary: calc($preview-scale-tertiary * 0.0225);

$preview-corner-radius-primary: calc($preview-scale-primary * 0.015);
$preview-corner-radius-secondary: calc($preview-scale-secondary * 0.015);
$preview-corner-radius-tertiary: calc($preview-scale-tertiary * 0.015);

.preview-title-1 {
  font-size: 1.48em;
}

.preview-title-2 {
  font-size: 1.24em;
}

.preview-title-3 {
  font-size: 1.12em;
}

.preview-body-1 {
  font-size: 1em;
}

.preview-body-2 {
  font-size: 0.9em;
}

.preview-body-3 {
  font-size: 0.8em;
}

.preview-body-4 {
  font-size: 0.7em;
  font-weight: 500;
  letter-spacing: 0.015em;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.preview-primary-clr-400 {
  color: $clr-primary-700;
}

.preview-secondary-clr-200 {
  color: $clr-secondary-200;
}

.preview-secondary-clr-300 {
  color: $clr-secondary-400;
}

.preview-secondary-clr-400 {
  color: $clr-secondary-500;
}

.preview-tertiary-clr-400 {
  color: $clr-secondary-050;
}

.preview-row {
  @include row-flex;
}

.preview-column {
  @include column-flex;
}

.title {
  margin-bottom: -3.33%;
}

.subtitle {
  letter-spacing: 0.033em;
  &.preview-title-3 {
    letter-spacing: 0.1em;
  }
}

.preview {
  @include column-flex;
  align-items: center;
  position: relative;

  #resume-preview {
    position: relative;
    box-shadow: $shadow;
    color: $clr-neutral-500;
    background-color: $clr-secondary-050;
    width: $preview-scale-primary;

    aspect-ratio: 8.5/11;
    border-radius: $preview-corner-radius-primary;
    font-size: $text-scale-primary;

    display: grid;
    grid-template-areas:
      'general person'
      'general experience'
      'general education'
      'general skills';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 20% repeat(2, min-content);
  }

  .person {
    z-index: 1;
    grid-area: person;
    height: 50%;
    width: 150%;
    transform: translate(-33.33%, 50%);

    &::before,
    &::after {
      content: '';

      position: absolute;
      height: 3.33%;
      width: 100%;
      left: 50%;
      transform: translatex(-50%);

      background-color: $clr-primary-200;
    }

    &::before {
      top: -8%;
    }

    &::after {
      bottom: -8%;
    }

    .data {
      @include row-flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .name-title {
        text-align: center;
      }

      img {
        height: 150%;
        border-radius: 999px;
        position: absolute;
        top: -25%;
        left: calc(33% / 2);
        transform: translateX(-50%);
        z-index: 1;

        border: calc($preview-scale-primary * 0.0066) solid $clr-secondary-400;
      }
    }
  }

  .about {
    position: relative;
    grid-area: general;
    background-color: $clr-primary-600;
    border-radius: inherit;
    padding-top: 75%;

    box-shadow: 3px 0px 3px $clr-primary-shadow-600;

    svg {
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    }

    .blurb,
    .contact,
    .interests {
      padding-left: 10.5%;
      padding-right: 7.5%;
      margin-bottom: 7.5%;

      .general-section-title {
        margin-bottom: 2.5%;
        .preview-general-icon {
          margin-right: 5%;
        }
      }
    }

    .contact {
      .preview-row {
        align-items: center;
      }

      .preview-info-icon {
        margin-left: 10.5%;
        margin-right: 2.5%;

        font-size: 1.24em;
      }

      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $clr-neutral-100;
        margin-block: 3%;
        padding: 0;
      }
    }

    .interests {
      > :not(:first-child) {
        margin-left: 7.5%;
      }
    }

    .watermark {
      position: absolute;
      bottom: 1%;
      width: 100%;
      text-align: center;
    }

    &::before {
      content: '';
      overflow: hidden;
      position: absolute;
      z-index: 2;
      top: 0;
      height: 100%;
      width: 3%;
      background-color: $clr-secondary-400;
      border-radius: $preview-corner-radius-primary 0 0
        $preview-corner-radius-primary;
    }
  }

  .experience,
  .education {
    .entry-container {
      display: grid;
      grid-template-areas: 'entry entry';
      grid-template-columns: 50% 50%;
      grid-template-rows: min-content;
      h2 {
        grid-area: title;
      }
    }

    .date {
      margin-top: 1.33%;
      margin-right: 3.33%;
    }

    .subtitle {
      padding-left: 4%;
      margin-bottom: -1.5%;
    }

    .entry-info {
      > :not(:first-child) {
        padding-left: 4%;
      }
    }
  }

  .experience,
  .education,
  .skills {
    padding-inline: 4%;
    padding-bottom: 4%;

    h2 {
      svg {
        filter: drop-shadow(2px 2px 1px $clr-primary-shadow-600);
      }
    }

    .entry-container {
      padding-bottom: 2%;
    }
    .entry {
      overflow-wrap: break-word;
    }
  }

  .skills {
    max-width: 100%;

    .entry-container {
      @include row-flex;
      flex-wrap: wrap;

      .entry {
        @include row-flex;
        justify-content: center;
        align-items: center;

        margin: 1%;

        height: calc($preview-scale-primary * 0.066);

        padding: 2%;
        min-width: 12.5%;
        border-radius: $preview-corner-radius-primary;
        background-color: $clr-secondary-400;
        color: $clr-secondary-100;

        text-shadow: 2px 2px 4px $clr-secondary-500;

        .skill-icon {
          height: 100%;
          padding-left: calc($preview-scale-primary * 0.0125);
        }
      }
    }
  }
}

@media (max-width: $media-query-primary) {
  .preview {
    #resume-preview {
      width: $preview-scale-secondary;
      font-size: $text-scale-secondary;
      border-radius: $preview-corner-radius-secondary;
    }

    .person {
      .data {
        img {
          border-width: calc($preview-scale-secondary * 0.0066);
        }
      }
    }

    .skills {
      .entry-container {
        .entry {
          height: calc($preview-scale-secondary * 0.066);
          border-radius: $preview-corner-radius-secondary;

          .skill-icon {
            padding-left: calc($preview-scale-secondary * 0.0125);
          }
        }
      }
    }
  }
}

@media (max-width: $media-query-secondary) {
  .preview {
    #resume-preview {
      width: $preview-scale-tertiary;
      font-size: $text-scale-tertiary;
      border-radius: $preview-corner-radius-tertiary;
    }

    .person {
      .data {
        img {
          border-width: calc($preview-scale-tertiary * 0.0066);
        }
      }
    }

    .skills {
      .entry-container {
        .entry {
          height: calc($preview-scale-tertiary * 0.066);
          border-radius: $preview-corner-radius-secondary;

          .skill-icon {
            padding-left: calc($preview-scale-tertiary * 0.0125);
          }
        }
      }
    }
  }
}
