@import 'utils/variables';

#root {
  font-family: $ff-primary;
  font-size: $fs-400;
  background-color: $clr-accent-100;

  @include column-flex;
  height: 100vh;
}

main {
  @include column-flex;
  align-items: center;
}

.logo {
  margin: $spc-500 $spc-300 $spc-500;
  // padding-right: $spc-400;
  max-height: 6rem;
  align-self: start;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15));
}

.build-preview-container {
  display: flex;
  gap: $spc-400;
}

@media (max-width: $media-query-primary) {
  .build-preview-container {
    @include column-flex;
  }
  .builder {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 0.1fr) 4fr;
    gap: 0 $spc-400;
    align-items: start;

    .fa-angle-down {
      rotate: 90deg;
    }

    .active {
      grid-row: 1 / 5;

      .fa-angle-down {
        rotate: 90deg;
      }
    }

    .settings,
    .inactive {
      min-width: 0px;
    }
  }
}

@media (max-width: $media-query-secondary) {
  .logo {
    align-self: center;
  }

  .build-preview-container {
    @include column-flex;
  }
  .builder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4fr;
    gap: 0 $spc-400;
    align-items: start;

    .inactive {
      grid-row: 1 / 2;
    }

    .active {
      grid-row: 3 / 4;
      grid-column: 1 / 4;

      .input-title {
        scale: 1;
        box-shadow: 0px 6px 4px $clr-accent-shadow-400;
      }
    }

    .settings {
      grid-column: 1 / 4;
      grid-row: 5 / 4;
    }

    .settings,
    .inactive {
      min-width: 0px;

      p {
        display: none;
      }

      .input-title {
        justify-content: center;
      }
    }

    .fa-angle-down {
      display: none;
    }
  }
}
