@import 'utils/variables';

#root {
  font-family: $ff-primary;
  font-size: $fs-400;
  background-color: $clr-accent-100;

  @include column-flex;
  height: 100vh;
}

main {
  @include column-flex;
  align-items: center;
}

.build-preview-container {
  display: flex;
  gap: $spc-400;
}
