@import 'utils/variables';

#root {
  font-family: $ff-primary;
  font-size: $fs-400;
  background-color: $clr-neutral-200;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.build-preview-container {
  display: flex;

  .preview {
    display: flex;
    flex-direction: column;
    align-items: center;

    #resume-preview {
      background-color: $clr-neutral-400;
      min-width: 300px;
      min-height: 400px;
    }
  }
}
