@import 'utils/variables';

#root {
  background-color: $clr-accent-100;
  font-family: $ff-primary;
  font-size: $fs-400;

  @include column-flex;
  height: 100vh;
}

main {
  background-color: $clr-accent-100;
  @include column-flex;
  align-items: center;
}

.logo {
  margin-block: $spc-500;
  padding-inline: $spc-400;
  max-height: 5rem;
  align-self: start;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15));
}

.build-preview-container {
  display: flex;
  gap: $spc-400;
}

@media (max-width: $media-query-primary) {
  .build-preview-container {
    @include column-flex;
    margin-inline: $spc-400;
  }
  .builder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 0.1fr) 1fr;
    gap: 0 $spc-400;
    align-items: start;

    .settings {
      grid-column: 1 / 3;
    }

    &:has(.active) {
      grid-template-rows: repeat(5, 0.1fr) 1fr;

      .fa-angle-down {
        rotate: 90deg;
      }

      .inactive,
      .settings {
        min-width: 0;
        grid-column: 2 / 3;
      }

      .active {
        grid-row: 1 / 7;

        .form {
          min-width: 420px;
        }

        .fa-angle-down {
          rotate: 90deg;
        }
      }
    }
  }
}

@media (max-width: $media-query-secondary) {
  .logo {
    align-self: center;
  }

  .build-preview-container {
    @include column-flex;
    max-width: 600px;
  }
  .builder {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 0 $spc-400;
    align-items: start;

    .settings {
      grid-column: 1 / 7;
    }

    &:has(.active) {
      grid-template-columns: repeat(5, 1fr);

      .inactive {
        grid-column: auto;
      }

      .active {
        grid-row: 2 / 4;
        grid-column: 1 / 6;

        .input-title {
          scale: 1;
          box-shadow: 0px 6px 4px $clr-accent-shadow-400;
        }
      }

      .settings {
        grid-column: 1 / 6;
      }
    }

    .settings,
    .inactive {
      min-width: 0px;

      p {
        display: none;
      }

      .input-title {
        justify-content: center;
      }
    }

    .fa-angle-down {
      display: none;
    }

    .form-row.date {
      flex-direction: column;
    }
  }
}
