@import 'utils/variables';

#root {
  background-color: $clr-accent-100;
  font-family: $ff-primary;
  font-size: $fs-400;

  @include column-flex;
  height: 100vh;
}

header {
  @include row-flex;
  align-items: center;
  margin-block: $spc-500;
  padding-inline: $spc-400;
  gap: $spc-400;
  width: 100%;

  .icon,
  .logo {
    align-self: flex-end;
    margin-right: auto;
    min-width: 0;
    max-height: 5rem;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
  }

  .icon {
    display: none;
    max-height: 4rem;
  }

  .header-actions {
    @include row-flex;
    gap: $spc-200;
    font-weight: bold;

    button {
      padding: calc($spc-100 * 1.4);
      min-width: 3rem;
      border-radius: $border-radius;
      border: none;
      background-color: $clr-secondary-400;
      color: $clr-secondary-200;
      font-size: 1.24rem;
      letter-spacing: 0.24px;
      box-shadow: 2px 2px 6px $clr-accent-shadow-500;
      text-shadow: 2px 2px 4px $clr-secondary-500;

      svg {
        filter: drop-shadow(2px 2px 1px $clr-secondary-500);
      }

      &:focus {
        outline: 2px solid $clr-secondary-600;
      }
    }
  }
  @media (max-width: 40em) {
    span {
      display: none;
    }
  }

  @media (max-width: 25em) {
    .logo {
      display: none;
    }

    .icon {
      display: block;
    }
  }
}

main {
  background-color: $clr-accent-100;
  @include column-flex;
  align-items: center;
}

.build-preview-container {
  display: flex;
  gap: $spc-400;
}

@media (max-width: $media-query-primary) {
  .build-preview-container {
    @include column-flex;
    margin-inline: $spc-400;
  }
  .builder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0 $spc-400;
    align-items: start;

    .settings {
      grid-column: 1 / 3;
    }

    .active ~ .inactive,
    .active ~ .settings {
      min-width: 0;
      grid-column: 2 / 3;

      .fa-angle-down {
        rotate: 90deg;
      }
    }

    .active {
      grid-row: 1 / 7;
      min-width: 480px;

      .fa-angle-down {
        rotate: 90deg;
      }
    }

    &:has(.active) {
      grid-template-rows: repeat(5, 0.1fr) 1fr;
    }
  }
}

@media (max-width: $media-query-secondary) {
  .logo {
    align-self: center;
  }

  .build-preview-container {
    @include column-flex;
    max-width: 600px;
  }
  .builder {
    min-width: 0px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    gap: 0 $spc-400;
    align-items: start;

    .settings {
      grid-column: 1 / 7;
    }

    .active ~ .inactive {
      grid-column: auto;
    }

    .active ~ .settings {
      grid-column: 1 / 6;
    }

    .active {
      grid-row: 2 / 4;
      grid-column: 1 / 6;
      min-width: 0;

      .input-title {
        scale: 1;
        box-shadow: 0px 6px 4px $clr-accent-shadow-400;
      }
    }

    &:has(.active) {
      grid-template-rows: 1fr;
    }

    .settings,
    .inactive {
      min-width: 0px;

      p {
        display: none;
      }

      .input-title {
        justify-content: center;
      }
    }

    .fa-angle-down {
      display: none;
    }
  }
}
